---
env:
  node: true

extends: eslint:recommended

rules:
  strict: off
  quotes:
    - error
    - single
  valid-jsdoc: error

  # Style
  keyword-spacing:
    - error
    - after: true
  space-before-blocks: warn
  space-before-function-paren:
    - warn
    - never
